
/* CLASES IMG ITEM LIST */
.ContainerImg{
  width: max-content;
  height: max-content;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.ImgItemContainer{
  bottom: 0;
  animation: subir 2s ease forwards;
}

@keyframes subir {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(0);
  }
}
/* clases pie imagen */
.PieImgContainer{
  height: 150px;
  background-color: black;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.ItemsPieImg{
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.LogoPie{
  margin-bottom: 40px;
  margin-right: 8px;
}

/* animacion del pie de imagen */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.9s forwards;
}


/* CLASES PRODSITEMLISTCONTAINER */

.CentradoTitulos{
  text-align: center;
  margin: 20px 0px 20px 0px;
}

/* Estilos de las flechas carrusel */
.carousel-control-prev, .carousel-control-next {
  width: 45px;
  height: 45px;
  background-color: black;
  border: none;
  border-radius: 0;
  align-self: center;
  margin-bottom: 60px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 30px;
  height: 30px;
}

.carousel-item{
  animation: subir 2s ease forwards;
}

/* Estilos de los textos del carrucel */
.cuotasDeDescuento{
  color: red;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* Clases de las imagenes para la transicion y distancia */

.carrusel-container {
  position: relative;
  overflow: hidden;
}

.carrusel-wrapper {
  display: flex;
  transition: transform 2s ease;
}

.carrusel-item {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.carrusel-item img {
  width: 100%;
  opacity: 0;
  animation: slideIn 2s forwards;
}

@keyframes slideIn {
  from {
      transform: translateY(50%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

/* Clases de los Botones del carrusel */

.SpaceButtons{
display: flex;
justify-content: space-around;
}
