
/* CLASES IMG ITEM LIST */
.ContainerImg{
  width: max-content;
  height: max-content;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.ImgItemContainer{
  bottom: 0;
  animation: subir 2s ease forwards;
}

@keyframes subir {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(0);
  }
}
/* clases pie imagen */
.PieImgContainer{
  background-color: black;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.ItemsPieImg{
  color: white;
  display: flex;
  align-items: center;
}

.LogoPie{
  padding-bottom: 17%;
  padding-right:5%;
}

/* animacion del pie de imagen */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.9s forwards;
}


/* CLASES PRODSITEMLISTCONTAINER */

.carousel-control-prev, .carousel-control-next {
  width: 45px;
  height: 45px;
  background-color: black;
  border: none;
  border-radius: 0;
  align-self: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 30px;
  height: 30px;
}

.descuento{
  color: red;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}